.Data_section {
    height: 20rem;
    overflow: auto;

    margin-top: 2rem;

    &::-webkit-scrollbar {
        width: 12px; /* width of the entire scrollbar */
    }
    &::-webkit-scrollbar-track {
        background-color: rgb(221, 221, 221);
        border-radius: 1.6rem;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgb(93, 93, 93); /* color of the scroll thumb */
        border-radius: 1.6rem; /* roundness of the scroll thumb */
    }

    &_list {
        padding: 0 1rem;
        list-style: none;

        background-color: whitesmoke;
        border-radius: 1rem;

        &_item {
            padding: 0.5rem;

            &:not(:last-of-type) {
                border-bottom: 1px solid rgb(189, 189, 189);
            }
        }
    }
}
