@import "../../../Partials/variables";

.Footer {
    padding: 0.5rem;
    background-color: $color-primary;
    color: white;

    font-size: 1.5rem;
    font-family: "Gochi Hand", cursive;
    text-align: center;

    position: fixed;
    bottom: 0;
    width: 100%;
}
