input {
    font-size: 1.6rem;
    font-family: "Lato", sans-serif;
}

li {
    font-size: 1.6rem;
    font-family: "Lato", sans-serif;
}

button {
    font-size: 1.6rem;
    font-family: "Lato", sans-serif;
}

a {
    font-size: 1.6rem;
}
